<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://moodle.czu.cz/theme/styles.php/czuclassic4/1729281958_1689096652/all"
    />
    <link rel="shortcut icon" href="/imgs/icon.png" type="image/x-icon" />
    <style>
      footer {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 0.9rem;
      }
    </style>
    <% if (language === 'en') { %>
    <title>CZU Calendar - Transfer schedule to personal calendar</title>
    <% } else if (language === 'cs') { %>
    <title>ČZU Kalendář - Přenos rozvrhu do osobního kalendáře</title>
    <% } %>
    <style>
      .login-container {
        max-width: 500px;
        margin: auto;
        padding: 20px;
      }
      .custom-image {
        max-width: 100%;
        height: auto;
      }
      footer {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 0.9rem;
      }
      .con {
        padding-top: 16vh;
      }
    </style>
  </head>
  <body>
    <div class="min-vh-75 con">
      <div class="container d-flex align-items-center">
        <div class="row justify-content-center w-100">
          <div
            class="col-lg-6 col-12 d-flex align-items-center justify-content-center"
          >
            <div class="login-container" style="box-shadow: none">
              <div class="loginform">
                <a href="/" class="anone"><div id="loginlogo" class="login-logo">
                  <% if (language === 'en') { %><img
                    src="/imgs/logoen.png"
                    class="img-fluid"
                    alt="czu calendar login logo"
                  /><% } else if (language === 'cs') { %><img
                    src="/imgs/logoczech.png"
                    class="img-fluid"
                    alt="čzu kalendář login logo"
                  /><% } %>
                </div></a>
                  <% if (error) { %><% if (language === 'en') { %>
                  <div class="alert alert-danger">
                    Invalid login, please try again
                  </div>
                  <% } else if (language === 'cs') { %>
                  <div class="alert alert-danger">
                    Neplatné přihlášení, zkuste znovu
                  </div>
                  <% } %><% } %>
                  <form
                    class="login-form"
                    action="/auth"
                    method="post"
                    id="login"
                  >
                    <div class="login-form-username form-group">
                      <input type="text" name="username" id="username"
                      class="form-control form-control-lg" placeholder=<% if
                      (language === 'en') { %>"Username"<% } else if (language
                      === 'cs') { %>"Uživatelské jméno"<% } %>
                      autocomplete="username" />
                    </div>
                    <div class="login-form-password form-group">
                      <input type="password" name="password" id="password"
                      class="form-control form-control-lg" placeholder=<% if
                      (language === 'en') { %>"Password"<% } else if (language
                      === 'cs') { %>"Heslo"<% } %>
                      autocomplete="current-password" />
                    </div>
                    <div class="login-form-submit form-group">
                      <button
                        class="btn btn-primary btn-lg"
                        type="submit"
                        id="loginbtn"
                      >
                        <% if (language === 'en') { %>Login<% } else if
                        (language === 'cs') { %>Přihlášení<% } %>
                      </button>
                    </div>
                  </form>
                </th>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center"
          >
            <img
              src="/imgs/Online calendar-rafiki.svg"
              alt="Custom image for czu-cal"
              class="custom-image"
            />
          </div>
        </div>
      </div>
    </div>
    <footer class="min-vh-25">
      <p>
        <% if (language === 'en') { %>Made with ❤️ by<% } else if (language ===
        'cs') { %>Vyrobeno s ❤️ od<% } %>
        <a href="https://github.com/4k1k01" target="_blank">akiko</a>
      </p>
    </footer>
  </body>
</html>
